@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-darker-grotesque: var(--font-darker-grotesque);
  --font-open-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.article-title::first-line {
  color: #b551d9;
}
.article-title {
  color: #d40a95; /* This will apply to all lines except first */
}

.articles-grid > * {
  margin-bottom: 48px;
}
.articles-grid > *:nth-child(2) {
  @media (min-width: 1024px) {
    position: relative;
    margin-top: 120px;
  }
}
.articles-grid > *:nth-child(2)::before {
  @media (min-width: 1024px) {
    content: "";
    width: 1px;
    height: 96px;
    background: linear-gradient(270deg, #b551d9 18.63%, #d40a95 50%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    z-index: 1;
  }
}

.articles-grid .article-image::after {
  @media (min-width: 1024px) {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #b551d9 18.63%, #d40a95 50%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0.52;
  }
}
